Repository tensorops/TransformerX, pull requests merged in 2023-04, with the labels that each got.

#88 Resolve Dilated #87
  tests/layers/test_dot_product_attention.py
  transformerx/layers/dot_product_attention.py
  transformerx/layers/masks/__init__.py
  transformerx/layers/masks/global_attention_mask.py
  transformerx/layers/transformer_encoder_block.py
  transformerx/utils.py
Labels: documentation, enhancement, Subtask, tensorflow

#91 [PR] Resolve #89 refactors the transformer decoder block
  tests/layers/test_dot_product_attention.py
  tests/layers/test_multihead_attention.py
  tests/layers/test_transformer_decoder_block.py
  transformerx/layers/addnorm.py
  transformerx/layers/dot_product_attention.py
  transformerx/layers/multihead_attention.py
  transformerx/layers/positionwise_ffn.py
  transformerx/layers/transformer_decoder_block.py
Labels: enhancement, tests, tensorflow

#97 [tests] for transformer encoder block - resolve #95
  requirements.txt
  tests/layers/test_multihead_attention.py
  tests/layers/test_positionwise_ffn.py
  tests/layers/test_transformer_decoder_block.py
  tests/layers/test_transformer_encoder_block.py
  transformerx/layers/dot_product_attention.py
  transformerx/layers/positionwise_ffn.py
  transformerx/layers/transformer_decoder_block.py
  transformerx/layers/transformer_encoder_block.py
  transformerx/utils.py
Labels: enhancement, Subtask, tests, tensorflow

#92 [docs] transformer decoder block
  transformerx/layers/transformer_decoder_block.py
Labels: documentation

#101 [PR] Refactor and test cases for TransformerEncoder
  tests/layers/test_positional_encoding.py
  tests/layers/test_transformer_encoder.py
  tests/layers/test_transformer_encoder_block.py
  transformerx/layers/positional_encoding.py
  transformerx/layers/transformer_encoder.py
  transformerx/layers/transformer_encoder_block.py
Labels: enhancement, Subtask, tests, tensorflow, numpy
